@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; 
*/

:root {
    --color1: #04146c;
    --color2: #0a2ff1;
    --color3: #414166;
    --color4: #15163d;
    --color-fondo1: #eff2ff;
    --color-fondo2: #8a9af1;
    --color-linea: #3ffff3;
    --color-button1: #f98500;
    --color-button2: #2c00cc;

}




.fo-dinamic {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: #3957F1;

}

.logo-blanco {
    width: 200px;
    margin: 25px 0 20px 50px;
    background-image: url("../Recursos/M5-logo-blanco.svg");
}